* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 214, 214);
}
.display {
    display: flex;
    height: 60px;
    width: 100%;
    
}
.display input {
    text-align: right;
    background-color: transparent;
    border: none; 
    width: 100%;
    height: 100%;
    font-size: 40px;
    pointer-events: none;
    
}
.display input::placeholder{
    color: black;
}


.calculator {
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    grid-gap: 10px;
}
.buttons button{
    padding: 10px;
    border: none;
    width: auto;
    height: auto;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 15px;
    background-color:rgb(1, 110, 110);
    text-align: center;

}
.buttons button:hover{
    background-color:rgb(0, 153, 153);
}
